.root
  display: flex
  flex-direction: column
  width: 400px
  background: white
  border-radius: 4px
  padding-top: 20px
  overflow: hidden

.title
  margin: 0 0 16px 20px
  font-size: 20px
  font-weight: 700

.inputs
  padding: 0 20px

.input
  margin-bottom: 20px

.textarea
  margin-bottom: 20px
  height: 200px
        
.button
  margin-top: auto
  justify-content: space-around