.root
  position: relative
  display: flex
  align-items: center
  height: 50px
  border: 1px solid #e4e4e4

.placeholder
  position: absolute
  color: #a4a4a4
  top: 18px
  left: 10px
  font-size: 16px
  line-height: 14px
  transition: all 150ms

.input
  padding: 0 40px 0 10px
  display: block;
  font: inherit
  font-size: inherit
  color: inherit
  border: none
  outline: none
  background: none
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden
  width: 100%
  height: 100%
