.root
  display: flex
  flex-flow: column nowrap
  align-items: center
  padding: 84px 0 42px
  width: 800px
  margin: 0 auto

.controls, .content
  display: flex
  justify-content: space-between
  width: 100%

.controls  
  margin-bottom: 40px

.left, .right
  width: calc(50% - 20px)

.block
  padding: 14px
  background-color: #ffffff
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1)
  margin-bottom: 10px

.description
  min-height: 158px

.notFound
  width: 200px
  font-size: 24px